@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Montserrat:wght@500&display=swap');

.robotRiveUp {
    padding-top: 80px;
    border: none;
    margin: 0 auto;

    @media (max-width: 600px) {
      width: 99vw;
      max-height: 547px;
      margin-bottom: 20px;
    }
}

.callBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 230px;
  height: 50px;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  background: linear-gradient(225deg, #7237BD 0%, #03BDFA 100%);
  margin-bottom: 30px;

  & .callImg {
    width: 35px;
    height: 35px;
  }

  & .btnText {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
  }
}