.point {
    display: flex;
    max-width: 1200px;
    min-height: 100px;
    background: linear-gradient(269.6deg, rgba(114, 55, 189, 0.5) 0%, rgba(3, 189, 250, 0.5) 100%);
    border-radius: 5px;
    align-items: center;

    .titleWrapper {
        .title {
            width: 250px;
            margin-left: 40px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            color: #FFFFFF;
        }    
    }

    .line {
        width: 50px;
        height: 3px;
        transform: rotate(90deg);
        background: white;
    }

    .text {
        margin-left: 48px;
        margin-right: 80px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
    }
}