.container{
    display: flex;
    align-items: center;
    position: relative;
}

.wrapper {
    height: 359.05px;
    width: 1148px;

    & .window {
        height: 100%;
        width: 100%;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        & .allProjects {
            display: flex;   
            height: 100%;
            transition-duration: 1s;
        }
    }
}